.slider-brand {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.item-slider-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 211px;
  height: 211px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 9px 9px 9px 10px rgba($color: #000000, $alpha: 0.1);
}



